body
{
    background-image: url('szavanna.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p
{
    margin-bottom: 50px;
    text-align: justify;
}

.white
{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
}

.oroszlanjobb
{
    float: right;
    height: 300px;
    width: 500px;
}

.oroszlanbal
{
    float: left;
    height: 300px;
    width: 500px;
}

h1
{
    text-align: center;
    padding: 50px;
    margin: auto;
    font-size: 70px;
}

header
{
    color: white;
}

.jobb
{
    text-align: justify;
    text-align-last: right;
}

img
{
    margin: 30px;
}

#cim
{
    text-align: center;
}

#quiz
{
    text-align: center;
}

.inline
{
    display: inline;
    padding: 15px; 
}

#jel
{
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.also
{
    margin-bottom: 40px;
}